body {
    background: #1e1e34;
}

#perfilUsuarioMain,
#indexmain,
#admMain,
#formJogoMain {
    background:#203170;
}

#gamePageMain {
    padding-top: 0;
    background: #335;
}

#loginMain,
#signinMain {
    background: linear-gradient(#121D46, #472BE0);
}