body {
    background: #1e1e34;
}

#indexmain {
    background: linear-gradient(#121D46, #472BE0);
}

#gamePageMain {
    padding-top: 0;
    background: #335;
}

#loginMain,
#signinMain {
    background: linear-gradient(#121D46, #472BE0);
}

#admMain,
#formJogoMain {
    background: #32323e;
}