/* -=-= Banner =-=- */

.gamePageBanner {
    position: relative;
    margin-bottom: 2em;
    font-size: .6em;
}

.gamePageBanner .gameBanner {
    aspect-ratio: 16/9;
    object-fit: cover;
}

.gamePageBanner .gameProfile {
    position: absolute;
    padding: 2%;
    gap: 2em;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    color: #fff;
    background: linear-gradient(#18181800 0%, #18181865 15%, 40%, #181818 100%);
}

.gameProfile .gamePageCover {
    border-radius: 15px;
    box-shadow: 0 0 7px .3em #ffffff60;
    width: 12em;
}

.gameProfile .gamePageTitle {
    font-size: 3em;
}

.gamePageClassificacao {
    position: absolute;
    right: 2%;
    width: 8em;
}

/* -=-= Conteúdo Principal =-=- */

.gamePageInfoContainer * {
    color: #c4c4c4;
}

.gamePageInfoContainer button {
    all: unset;
}

.buttonIcon {
    margin-left: 10px;
    font-size: 1.5em;
    transition: 300ms ease;
}

.rotated {
    transition: 300ms ease;
    transform: rotate(180deg);
}

.gameDropContent {
    display: grid;
    grid-template-rows: 1fr;
    transition: grid-template-rows 500ms ease;
}

.gameDropContent div {
    overflow: hidden;
}

.gameDropHidden {
    grid-template-rows: 0fr;
    overflow: hidden;
}

#plataformasContainer {
    border: 3px solid #c4c4c4;
    border-radius: 10px;
    background-color: #1e1e34;
}

#plataformas i {
    font-size: 5em;
}

.buttonDrop {
    cursor: pointer;
    position: relative;
}

.buttonDrop::after {
    content: "";
    width: 0;
    height: 2px;
    position: absolute;
    bottom: 0;
    background: #c4c4c4;
    transition: all 300ms ease;
}

.buttonDrop:hover::after,
.contentVisible::after {
    transition: all 300ms ease;
    width: inherit;
}

#notaContainer {
    width: fit-content;
    padding: .5em 1em;
    border: 3px solid #c4c4c4;
    border-radius: 10px;
    background: #1e1e34;
}

/* -=-= Botão de adicionar na lista =-=- */

#listaBtnContainer #listaBtn {
    cursor: pointer;
    font-size: 1.2em;
    border-radius: 10px;
    padding: .5em 1em;
    background-color: #00005c;
    transition: all ease 300ms;
}

#listaBtnContainer #listaBtn:hover {
    background-color: #000046;
    transition: all ease 300ms;
}

/* -=-= Nota do jogo =-=- */

#notaContainer #gameScore {
    font-size: 3em;
    font-weight: bold;
}

.scoreStar i {
    font-size: 1.2em;
    color: inherit;
}

#starScoreContainer {
    width: fit-content;
}

#starAvaliacaoContainer .scoreStarActive.mouseOut,
#starAvaliacaoContainer .scoreStar:hover,
#starAvaliacaoContainer .scoreStar:has(~ .scoreStar:hover),
#starAvaliacaoContainer .scoreStar:has(~ .scoreStarActive).mouseOut {
    color: #f7e600;
    cursor: pointer;
}

/* -=-= Comentários =-=- */

#novoComentario {
    field-sizing: content;
    padding: 4px 8px;
    background: none;
    border: none;
    border-bottom: 2px solid #c4c4c4;
    resize: none;
    font-size: 1.1em;
}

#novoComentario:focus {
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

#novoComentario::placeholder {
    color: #c4c4c470 !important;
}

#enviaComentarioBtn {
    padding: .5em 1em;
    border-radius: 1.2em;
    color: #c4c4c450;
}

#cancelaComentarioBtn {
    padding: .5em 1em;
    border-radius: 1.2em;
    cursor: pointer;
}

#cancelaComentarioBtn:hover,
#enviaComentarioBtn {
    background: #00000030;
}

#enviaComentarioBtn.active {
    background: #00005c;
    color: #c4c4c4;
    cursor: pointer;
}

#enviaComentarioBtn.active:hover {
    background: #000046;
}

#avisoTagsComentario {
    color: red;
    width: 15em;
}

#spoilerCheckContainer {
    padding: 5px 10px;
    border: 2px solid #c4c4c4;
    border-radius: .7em;
    cursor: pointer;
}

#spoilerCheckContainer:hover {
    background: #c4c4c425;
}

#spoilerTag:checked+#spoilerCheckContainer  {
    background: #c4c4c4;
}

#spoilerTag:checked+#spoilerCheckContainer * {
    color: #335 !important;
}

@media screen and (max-width: 768px) {
    #gamePageMain {
        font-size: .8em;
    }
    .gameProfile .gamePageTitle {
        max-width: 7.5em;
    }
}

@media screen and (max-width: 425px) {
    #gamePageMain {
        font-size: .7em;
    }
    #listaBtnContainer #listaBtn {
        font-size: .8em;
    }
    #novoComentarioBtnContainer {
        font-size: .7em;
    }
}