header{
    background: #3e68ff;
}
.navbar-brand img {
    width: 2em !important;
}
.navbar-toggler {
    font-size: 1em;
}

#logoutBtn {
    padding: 0 1em;
}

#logoutBtn a {
    padding: 0.3em 0;
}