.cardWrapper * {
    padding: 0;
    box-sizing: border-box;
}

.titleContainer h1 {
    color: #fff;
    margin-left: 10px;
    font-size: 1.5em;
    font-weight: 400;
}

.jogosPopContainer {
    padding: 3em 0;
    background: #1e1e34;
    border-radius: 10px;
}

.cardWrapper {
    margin: 1em 3em 2em;
    overflow: hidden;
}

.cardItem {
    list-style: none;
    border: 2px solid transparent;
    border-radius: 12px;
    transition: 200ms;
}

.cardItem:hover .cardLink {
    border-color: #0CC0DF;
    cursor: pointer !important;
    transition: 200ms;
}

.cardItem .cardLink {
    user-select: none;
    all: unset;
    overflow: hidden;
    display: block;
    text-decoration: none;
    position: relative;
    border: 3px solid #0cbfdf00;
    background: #000;
}

.cardLink .cardImg {
    aspect-ratio: 16/9;
    object-fit: cover;
    transition: all ease 200ms;
}

.cardLink:hover .cardImg {
    transform: scale(1.2);
    transition: all ease 200ms;
    opacity: 0.5;
    filter: blur(6px);
}

.cardLink .cardTitleContainer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(#18181800 0%, #18181865 15%, 40%, #181818 100%);
    padding: .5em;
    font-size: 1.5em;
    color: #fff;
    font-weight: 600;
}

.cardTitleContainer .cardTitle {
    font-size: 1em;
}

.cardTitleContainer .cardClassificacao {
    width: 2em;
}

.cardLink .cardScoreContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.cardLink:hover .cardScoreContainer {
    opacity: 1;
}

.cardScoreContainer .cardScore {
    font-size: 3.5em;
    color: #fff;
}

.cardScore i {
    font-size: .8em;
}

.swiper-pagination-bullet {
    border: 2px solid #62ffff;
}
.swiper-pagination-bullet-active {
    background: #62ffff;
}

.swiper-button-prev,
.swiper-button-next {
    color: #62ffff;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    font-size: 3em;
}

@media screen and (max-width: 425px) {

    .swiper-button-prev,
    .swiper-button-next {
        display: none;
        width: 0 !important;
    }

    .cardWrapper {
        margin: 1em 1em 2em;
    }

    .jogosPopContainer {
        padding: 2em 0;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .cardLink {
        font-size: 1em;
    }
}

