@font-face {
    font-family: pixelFont;
    src: url(../assets/font/Better\ VCR\ 9.0.1.ttf);
}

html * {
    margin: 0;
    color: #c4c4c4;
}

main {
    padding: 5em 0;
}

button {
    all: unset;
    cursor: pointer;
}

.modal * {
    color: #191919;
}

.modal button {
    color: #fff;
}